body {
  background-image: url(../images/home_bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Homepage */
.homepage_head {
  background: url(../images/home_bg.jpg);
  margin-top: -22px;
  height: 500px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.homepage_head_container {
  position: absolute;
  text-align: center;
  bottom: 75px;
  left: 0;
  right: 0;
  color: #fff;
}

.homepage_head_title {
  font-size: 120px;
  text-shadow: 0 0 5px #fff;
  font-weight: bold;
  margin-bottom: 42px;
}

.homepage_content {
  padding-top: 20px;
  min-height: calc(100vh - 551px);
  background-color: #f6f6f6;
}


// envoyé par le formulaire même si non affiché...
// .field_to_copy {
//   display: none;
// }
